# Includes packages to install ISCE2, MintPy, and MiaplPy
pytest
fftw
opencv
pybind11
shapely
cmake
openmotif
openmotif-dev
xorg-libx11
xorg-libxt
xorg-libxmu
xorg-libxft
libiconv
xorg-libxrender
xorg-libxau
xorg-libxdmcp
gcc_linux-64
gxx_linux-64
gfortran_linux-64

c-compiler
python==3.9
cartopy
cvxopt
dask>=1.0
dask-jobqueue>=0.3
defusedxml
h5py
lxml
matplotlib
numpy
pip
pyproj
scikit-image
scipy
gdal
libgdal
isce2
cython
setuptools
pulp
pyaps3>=0.3
pykml>=0.2
pyresample
pysolid

# MinSAR dependencies
git
natsort
bokeh
qt
boto3
botocore
pdbpp
